html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background: white; }

#mainContent {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #000;
  background: #fff;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div,
  #mainContent img, #mainContent svg {
    position: absolute; }

.hide {
  opacity: 0; }

.bgCircle {
  width: 474px;
  height: 466px;
  left: -331px;
  top: -140px;
  background-color: #fbbf00;
  border-radius: 50%; }

#logo {
  top: 151px;
  left: 142px; }

#endCopy {
  top: 72px;
  left: 16px; }

#spriteSheet {
  height: 200px;
  width: 12000px;
  background: url("../img/spritesheet.jpg") no-repeat;
  background-position: 100% 100%; }
