@import "_config";
@import "_mixins";
body {
    padding: 0;
    margin: 0;
    background: white;
}

#mainContent {
    position: relative;
    width: $width;
    height: $height;
    overflow: hidden;
    cursor: pointer;
    border:1px solid $border;
    background: $backgroundColor;
    background-size: cover;
    box-sizing: border-box;
    div,
    img,svg {
        position: absolute;
    }
}

.hide{
    opacity:0
}
.bgCircle{
    width: 474px;
    height: 466px;
    left: -331px;
    top: -140px;
    background-color:$bgCircle;
    border-radius:50%;
}
#logo{
    top: 151px;
    left: 142px;
}
#endCopy{
    top: 72px;
    left: 16px;
}
#spriteSheet {
    height: 200px;
    width: 12000px;
    background: url('../img/spritesheet.jpg') no-repeat;
    background-position: 100% 100%;   
  }
